<div class="image-container">
  <img alt="#" [src]="imagePath">
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-icon-button (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>






