.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

