<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink="/">GALLERY</a>
      <nav *appUserType="'user' else notUser">
        <a routerLink="/my-gallery">{{( user | async)?.userName}} , gallery</a>
        <button mat-button (click)="logout()">Logout</button>
      </nav>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #notUser>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</ng-template>
