<mat-progress-spinner
  *ngIf="(loading | async) else imagesFetch"
  mode="indeterminate"
></mat-progress-spinner>
<ng-template #imagesFetch>
  <h1 style="text-align: center">{{ userName }} 's gallery </h1>
  <div class="container" fxLayout="row">
    <mat-card *ngFor="let image of (images | async)">
      <mat-card-header>
        <div>
          <a (click)="openModal('http://localhost:8000/uploads/'+image.image)" >
            <img mat-card-lg-image alt="" [src]="'http://localhost:8000/uploads/'+image.image">
          </a>
        </div>
      </mat-card-header>
      <mat-card-content>
        <h2>
          By: {{ image.title }}
        </h2>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

