<app-centered-card title="Create image">
  <form fxLayout="column" #f=ngForm (ngSubmit)="create()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text"
        name="title"
        required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Image</mat-label>
      <app-file-input required ngModel name="image"></app-file-input>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="f.invalid">Create</button>
  </form>
</app-centered-card>
