<app-centered-card title="Registration">
  <form #f=ngForm fxLayout="column" (ngSubmit)="register()" [appIdentical]="['password', 'passwordConfirmation']">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter correct email
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="new-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password Confirmation</mat-label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        required matInput ngModel #passwordConfirmation="ngModel"
      />
      <mat-error *ngIf="passwordConfirmation.touched && passwordConfirmation.hasError('identical')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User name</mat-label>
      <input
        type="text"
        name="userName"
        required matInput ngModel #userName="ngModel"
      />
      <mat-error *ngIf="userName.touched && userName.hasError('required')">
        User name is required
      </mat-error>
    </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="f.invalid">Register</button>
  </form>
</app-centered-card>


