<mat-progress-spinner
  *ngIf="(loading | async) else imagesFetch"
  mode="indeterminate"
></mat-progress-spinner>
<ng-template #imagesFetch>
  <a color="primary" style="margin: 10px auto; display: block; width: 250px" *appUserType="'user'" mat-raised-button
     routerLink="/create">Create image</a>
  <div class="container" fxLayout="row">
    <div *ngFor="let image of (images | async)">
      <mat-card *appCheckUser="image.user?._id">
        <mat-card-header>
          <div>
            <a (click)="openModal('http://localhost:8000/uploads/'+image.image)">
              <img mat-card-lg-image alt="" [src]="'http://localhost:8000/uploads/'+image.image">
            </a>
          </div>
        </mat-card-header>
        <mat-card-content>
          <h2>
            {{ image.title }}
          </h2>
          <button mat-button (click)="remove(image._id)">
            <mat-icon class="remove-icon">delete</mat-icon>
            Remove
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
