<mat-progress-spinner
  *ngIf="(loading | async) else imagesFetch"
  mode="indeterminate"
></mat-progress-spinner>
<ng-template #imagesFetch>
  <div class="container" fxLayout="row">
    <mat-card *ngFor="let image of (images | async)">
      <mat-card-header>
        <div>
          <a (click)="openModal('http://localhost:8000/uploads/'+image.image)">
            <img mat-card-lg-image alt="" [src]="'http://localhost:8000/uploads/'+image.image">
          </a>
        </div>
      </mat-card-header>
      <mat-card-content>
        <h2>
          {{ image.title }}
        </h2>
        <a [routerLink]="['/user-gallery']" [queryParams]="{id: image.user?._id }">
          By: {{ image.user?.userName }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
